.header-profile {
  font-family: "Itim", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-profile-name {
  font-size: 48px;
}

.header-profile-subname {
  color: #fff;
  font-size: 24px;
}

.profile-catergory {
  display: flex;
  justify-content: center;
  color: #ffd27d;
  font-family: "Itim", cursive;
  font-size: 24px;
  margin-top: 22px;
}

.info-base-profile {
  margin-top: 44px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 38px;

  color: #ffffff;
  font-family: "Itim", cursive;
  font-size: 24px;
  padding: 0px 22px;
}

.primary-txt {
  display: flex;
  gap: 23px;
}

.form-profile {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Itim", cursive;
  font-size: 24px;
  padding: 0px 22px;
}

.form-profile > label {
  margin-top: 18px;
}

.btns-acctions {
  padding: 0px 22px;
  margin-top: 47px;
}

.btn-edit-profile {
  font-family: "Itim", cursive;
  font-size: 24px;
  color: #ffffff;
  background-color: #3180f5;
  border: none;
  border-radius: 8px;
  padding: 11px 109px;
}

.btn-logout {
  background-color: #ef929b;
  border: none;
  border-radius: 8px;
  font-family: "Itim", cursive;
  font-size: 24px;
  padding: 11px 115px;
  text-decoration: none;
  color: #000;
}


.btn-save-profile{
  background-color: #5ED15E;
  border: none;
  border-radius: 8px;
  padding: 11px 101px;
  color: #ffffff;
}